* {
    margin: 0;
    background-color:transparent;
    box-sizing: border-box;
}


body {
    background-color: #f2f2f2;
}

.header-logo {
    background-color: #ffffff;
}

.header-logo h1 {
    font-family: Arial; 
    color: #fa1c1c;
    font-size: 30px;
    margin-left: 10px;
}

.content-bar {
    height: 40px;
    background-color: #fa1c1c;
    margin-bottom: 10px;
}

.items-category {
    margin-bottom: 10px;
}

.items-category h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 10px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #fff;
    max-height: fit-content;
    height: 100%;
    width: fit-content;
    max-width: 250px;
    margin-right: 6px;
    margin-bottom: 6px;
    transition: all 0.3s;
}

.item:hover{
    border-color: #0c0c0c2a;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    position:relative;
    
}
.item-img {
    height: 200px;
    width: 200px;
    margin-bottom: 8px;
    padding: 10px 0 0 15px;
}

.item h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 8px;
}
.rating-container {
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0;
    padding-left: 10px; 
    margin-bottom: 8px;
}

.rating-container img {
    width: 20px;
    padding: 0;
}

.labels-container {
    display: flex;
    height: 30px;
    width: 100%;
    padding: 0;
    padding-left: 10px; 
    margin-bottom: 8px;
}

.labels-container img{ 
    width: 28px;
    padding: 0;
}

.price-buy {
    height: 40px;
    overflow: hidden;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.price-buy h4{
    font-style: italic;
    padding-top: 10px;
}

.buy-button {
    align-self: flex-end;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    height: 100%;
    width: 48px;
    transition: all 0.3s;
}
.buy-button:hover{
    background-color: #6464643a;
}

.price-buy img{
    width: 100%;
    height: 100%;
}

.stars-buttons {
    border: none;
    padding: 0;
}

.stars-buttons:hover {
    cursor: pointer;
}